<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8">
		<title>HELLO</title>
    <!-- CSS, JSファイルの読み込み -->
		<link rel="stylesheet" href="{{url_for('static', filename='hello.css')}}">
		<script src="{{url_for('static', filename='hello.js')}}"></script>
	</head>
	<body>
    <p class="hello">CSSファイルの読み込み</p>
    <p id="test">Javascriptの読み込み</p>
    
    <!-- GET/POSTで値を渡す -->
    <form action="/test" method="get">
      <button name="get_value" value="form get">get submit</button>
    </form>
    <form action="/test" method="post">
      <button name="post_value" value="form post">post submit</button>
    </form>
    <hr>
    
    <!-- GET/POSTで値を渡す(渡し先で関数を分ける) -->
    <form action="/test2" method="get">
      <button name="get_value2" value="form get 2">get submit</button>
    </form>
    <form action="/test2" method="post">
      <button name="post_value2" value="form post 2">post submit</button>
    </form>
    <hr>
    
    <!-- pythonからの変数の受け取り -->
    <p>{{ s }}</p>
    <hr>
    
    <ul>
    {% for x in lis %}
      <li>{{ x }}</li>
    {% endfor %}
    </ul>
    <hr>
    
    <p>{{ "name: %s age: %s" % (dic["name"], dic["age"]) }}</p>
    <hr>
    
    {% if bl %}
      <p>True</p>
    {% else %}
      <p>False</p>
    {% endif %}
	</body>
</html>
