@charset "UTF-8";

/*--------------------------
ある要素の中で最初の特定の要素の選択
--------------------------*/
p:first-of-type {
	background-color: #6C6;
}

/*--------------------------
ある要素の中で最後の特定の要素の選択
--------------------------*/
p:last-of-type {
	background-color: #6F6;
}

/*--------------------------
ある要素の中でn番目の特定の要素の選択
--------------------------*/
p:nth-of-type(3) {
	background-color: #666;
}




