@charset "UTF-8";

/*--------------------------
特定の文字から始まる要素の選択
--------------------------*/
li[class^="prep"] {
	background-color: #6C6;
}

/*--------------------------
特定の文字で終わる要素の選択
--------------------------*/
li[class$="code"] {
	background-color: #6F6;
}

/*--------------------------
ある要素の中で最初の要素の選択
--------------------------*/
p:first-child {
	background-color: #6C6;
}

/*--------------------------
ある要素の中で最後の要素の選択
--------------------------*/
p:last-child {
	background-color: #6F6;
}

/*--------------------------
ある要素の中でn番目の要素の選択
--------------------------*/
p:nth-child(3) {
	background-color: #666;
}







